[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
frontend_developer_agent = {editable = true, path = "."}
langchain = "*"
docker = "*"
langchain-experimental = "*"
openai = "*"
hydra-core = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9.13"
